{% load paths %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
<head>
<title>{{ issue.newsletter.title }}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<style type="text/css">
    {% include 'basic_newsletter/sample-newsletter/single-column/head-style.css' with template=issue.resolved_template %}
</style>
</head>
<body style="{% base_styles 'body' %} background-color: #edf1f1;">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"  style="{% base_styles 'table' %} {% base_styles '#bodyTable' %}" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell" style="{% base_styles 'td' %} padding: 20px 0 20px 0;">
                    <table border="0" cellpadding="0" cellspacing="0" width="{{ issue.resolved_template|get_attribute:"default_width" }}" style="{% base_styles 'table' %} width: {{ issue.resolved_template|get_attribute:"default_width" }}px; background-color: #ffffff;" id="emailContainer">
                        <tr>
                            <td align="center" valign="top" style="{% base_styles 'td' %} padding: 0 0 10px 0;" id="headerContainer">
                                {% include 'basic_newsletter/sample-newsletter/single-column/header.html' with template=issue.resolved_template %}
                            </td>
                        </tr>
                        {% for category in issue.headline_categories %}
                        <tr>
                            <td align="center" valign="top" style="{% base_styles 'td' %} padding: 10px 20px 10px 20px;" class="headlineContainer">
                                {% include 'basic_newsletter/sample-newsletter/single-column/headline.html' with category=category template=issue.resolved_template %}

                            </td>
                        </tr>
                        {% endfor %}
                        {% for category in issue.non_headline_categories %}
                        <tr>
                            <td align="center" valign="top" style="{% base_styles 'td' %} padding: 10px 20px 10px 20px;" class="nonHeadlineContainer">
                                {% include 'basic_newsletter/sample-newsletter/single-column/no-image-section.html' with category=category template=issue.resolved_template %}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td align="center" valign="top" style="{% base_styles 'td' %}" id="footerContainer">
                                {% include 'basic_newsletter/sample-newsletter/single-column/footer.html' with template=issue.resolved_template %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
