{% load paths %}
<a
        href="https://www.cigionline.org/sites/default/files/cigi-worldwide/cigiworldwide_{{ issue.issue_date|date:"F_j_Y"|lower }}.html{% if tracking %}{{ issue.link_tracking|safe }}{% endif %}"
        style="text-transform: uppercase; text-decoration: none;
            font-family: {{ template|get_attribute:"section_header_font" }};
            color: {{ template|get_attribute:"heading_font_color" }};
            font-size: 11px;
                            ">View this issue in a browser</a>