{% load paths %}
{% with footer_font="Helvetica, Arial, sans-serif" %}
<table border="0" cellpadding="0" cellspacing="0"
       width="100%" bgcolor="{{ issue.resolved_template|get_attribute:"footer_background_color" }}"
style="{% base_styles 'table' %} background-color: {{ issue.resolved_template|get_attribute:"footer_background_color" }};" id="footerBlock">
<tr>
    <td align="center" valign="top" style="{% base_styles 'td' %}">
        <table border="0" cellpadding="0" cellspacing="0" width="100%"
               style="{% base_styles 'table' %}">
            <tr>
                <td align="center" valign="top"
                    style="{% base_styles 'td' %}  padding: 20px 0 20px 0;" >
                    <table border="0" cellpadding="0" cellspacing="0"
                           width="100%" style="{% base_styles 'table' %}">
                        <tr>
                            <td align="right" valign="middle"
                                class="facebookLink" width="35%"
                                style="{% base_styles 'td' %}">
                                <a href="https://www.cigionline.org"
                                   style="{% base_styles 'a' %} color: #ffffff;"><img
                                        src="{{ issue.resolved_template|media_url:'cigi-logo' }}"
                                        alt="CIGI"
                                        style="{% base_styles 'img' %} display: block;
                                                    font-family: {{ footer_font }};"></a>
                            </td>

                            <td align="left" valign="middle"
                                class="twitterLink" width="30%"
                                style="{% base_styles 'td' %}">
                                <a href="http://www.saiia.org.za/"
                                   style="{% base_styles 'a' %} color: #ffffff; font-family: {{ footer_font }};"><img
                                        src="{{ issue.resolved_template|media_url:'saiia-logo' }}"
                                        alt="SAIIA"
                                        style="{% base_styles 'img' %} display: block; font-family: {{ footer_font }};"></a>

                            </td>

                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top"
                    style="{% base_styles 'td' %}  padding: 20px 0 10px 0;" >
                    <table border="0" cellpadding="0" cellspacing="0"
                           width="100%" style="{% base_styles 'table' %}">
                        <tr>
                            <td align="center" valign="middle" width="100%"
                                style="{% base_styles 'td' %}">
                                <a href="https://www.africaportal.org/{% if tracking %}{{ issue.link_tracking|safe }}{% endif %}"
                                   style="{% base_styles 'a' %} color: #000000; font-family: {{ footer_font }};">www.africaportal.org</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top"
                    style="{% base_styles 'td' %}  padding: 0 0 20px 0;" >
                    <table border="0" cellpadding="0" cellspacing="0"
                       width="100%" style="{% base_styles 'table' %}">
                        <tr>
                            <td align="right" valign="middle"
                                class="twitterLink" width="50%"
                                style="{% base_styles 'td' %}">
                                    <a href="https://facebook.com/africaportal"
                                                    style="{% base_styles 'a' %} color: #ffffff; font-family: {{ footer_font }};"><img
                                                    src="{{ issue.resolved_template|media_url:'facebook' }}"
                                                    alt="Facebook"
                                                    style="{% base_styles 'img' %} display: block; font-family: {{ footer_font }};"></a>
                            </td>
                            <td align="left" valign="middle"
                                class="blogsLink" width="50%"
                                style="{% base_styles 'td' %}">
                                <a href="https://twitter.com/africaportal"
                                                    style="{% base_styles 'a' %} color: #ffffff; font-family: {{ footer_font }};"><img
                                                    src="{{ issue.resolved_template|media_url:'twitter' }}"
                                                    alt="Twitter"
                                                    style="{% base_styles 'img' %} display: block; font-family: {{ footer_font }};"></a>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>

        </table>

    </td>
</tr>
</table>
{% endwith %}