{% load paths %}
<a
                    href="https://www.africaportal.org/{% if tracking %}{{ issue.link_tracking|safe }}{% endif %}"
                    style="text-transform: uppercase; text-decoration: none;
                            font-family: {{ template|get_attribute:"section_header_font" }};
                            color: {{ template|get_attribute:"heading_font_color" }};
                            font-size: 14px;
                            ">Subscribe to {{ issue.newsletter.title }} Newsletter</a>
