{% load paths %}{% if not tracking %}
<a
                    href="https://www.africaportal.org/roundup/{{ issue.html_file_name }}"
                    style="text-transform: uppercase; text-decoration: none;
                            font-family: {{ template|get_attribute:"section_header_font" }};
                            color: {{ template|get_attribute:"heading_font_color" }};
                            font-size: 11px;
                            ">View this issue in a browser</a><span style="text-transform: uppercase; text-decoration: none;
                            font-family: {{ template|get_attribute:"section_header_font" }};
                            color: {{ template|get_attribute:"body_font_color" }};
                            font-size: 11px;"> / {% else %}<span style="text-transform: uppercase; text-decoration: none;
                            font-family: {{ template|get_attribute:"section_header_font" }};
                            color: {{ template|get_attribute:"body_font_color" }};
                            font-size: 11px;">{% endif %}{{ issue.issue_date|date:"F j, Y" }}</span>
